@media (max-width: 1220px) {
  .advantages__text {
    padding-left: 20px;
  }
  .design__images img {
    width: 100%;
  }
}
@media (max-width: 1120px) {
  .design-row {
    display: block;
  }
  .design-row__item {
    max-width: 100%;
  }
  .design-row__item-text {
    max-width: 100%;
  }
  .design__images,
  .design-row {
    margin-bottom: 50px;
  }
  .design-row__item {
    margin-bottom: 30px;
    padding-right: 0;
  }
}
@media (max-width: 930px) {
  .advantages-inner__row {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }
  .advantages__title {
    position: static;
  }
  .advantages-deskr {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .advantages__text {
    margin: 25px auto;
    padding-left: 0;
  }
  .advantages-inner__row--mobile .advantages-deskr {
    order: -1;
  }
}

@media (max-width: 820px) {
  .statistics-items {
    flex-wrap: wrap;
  }
  .statistics-item {
    padding: 50px;
  }
}
@media (max-width: 650px) {
  .advantages__img img {
    width: 100%;
  }
}
@media (max-width: 410px) {
  .logo img {
    width: 200px;
  }
  .header-content__title {
    font-size: 70px;
    line-height: 85px;
    margin-top: 20px;
  }
  .menu-list a {
    font-size: 30px;
    line-height: 44px;
    padding: 19px 10px 14px 0;
    display: block;
    min-width: 100%;
  }
  .menu-list ul {
    min-width: 100%;
    display: block;
  }
  .statistics-item {
    padding: 25px 0;
  }
  .statistics {
    margin: 110px 0 50px;
  }
  .button {
    padding: 20px 45px;
  }
  .video {
    margin-bottom: 50px;
  }
  body {
    font-size: 20px;
    line-height: 24px;
  }
  .advantages__text {
    width: 100%;
  }
} ;
